{% extends "base.html" %}
{% block bodyblock %}

<div class="row align-items-center">
  {% for obj in latest_image_list %}
  <div class="col my-2">
    <div class="card" style="width: 18rem;">
    <img src="{{obj.image}}" class="card-img-top" alt="..." style="height: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{obj.imageName | title }}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}